#container {
  border: 1px solid black;
  padding: 16px;
  height: 500px;
  width: 90%;
  display: flex;
}

.height {
  height: 300px;
  width: 100px;
  display: flex;
  flex-direction: row;
}

.left {
  background-color: lightblue;
  border: 1px solid black;
  padding: 4px;
  flex: 1;
}

.right {
  border: 1px solid black;
  background-color: lightgreen;
  padding: 4px;
  flex: 1;
  justify-content: space-between;
}

body {
  font-size: 16px;
}

h1 {
  font-size: 24px;
}

@media only screen and (min-width: 900px) {
 
}